<div class="container">
    <h1 class="page-header"><%=friendname%>'s Reminders</h1>
  
  <ul class="list-group">
    <% reminders.forEach(function (reminderItem) { %>
      <li class="list-group-item">
        <strong><%= reminderItem.title %>: </strong>
        <%= reminderItem.description %>
        || Completed:
        <% if (reminderItem.completed == true) { %>
          <span class="badge badge-success">True</span>
        <% } else if (reminderItem.completed == false) { %>
          <span class="badge badge-danger">False</span>
        <% } %>

        || Remind By:
        <%= reminderItem.date.replace("T", " ") %>
        

        
        <a class="pull-right" href=<%= "/friend/" + friendname + "/" + reminderItem.id %>>View</a>

        
      </li>
      <!-- <button type="submit" class="btn btn-warning" onclick=<&=addReminder %>>Add to Your List</button> -->
    <% }) %>
    <form action="/reminders" method="POST">
      <input type="hidden" name="reminderName" value=<%= friendname %> >
      <br>
      <button type="submit" class="btn btn-outline-success">Add to Your List</button>
    </form>
  </ul>
  <!-- <a href="/logout" class="btn btn-secondary">Logout</a> -->
  <!-- You should add copy buttion here -->
  <!-- You may also need to stop user copy twice and give them error message -->
  </div>